.icon-button {
  background: none;
  border: none;
  padding: 0;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 100%;
  display: grid;
  place-content: center;
  transition: .3s all;
  &:hover {
    background-color: var(--background-main);
  }
  img, svg {
    max-height: 1.6rem;
  }
}