:root {
  --background-main: #F3F4F6;
  --background-light: #FFFFFF;

  --primary-main: #00A0E3;

  --neutral-main: '';
  --neutral-light: #D1D5DB;

  --danger-main: #EB3333;

  --text-main: #000000;
  --text-light: #6B7A80;
  --text-contrast: #FFFFFF;

  --font-main: Inter, sans-serif;
}